@model UyeOlViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="tr">

<head>

    <meta charset="utf-8" />
    <title>Üye Ol | Arel Tasarım</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Yönetim Paneli | Arel Tasarım" name="description" />
    <meta content="Arel Tasarım" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Admin/Content/Theme/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/Admin/Content/Theme/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Admin/Content/Theme/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Admin/Content/Theme/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body class="auth-body-bg">
    <div>
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                        <div class="w-100">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <div>
                                        <div class="text-center">
                                            <div>
                                                <a href="#" class="logo"><img src="~/Admin/Content/Theme/assets/images/logo-dark.png" alt="logo"></a>
                                            </div>

                                            <h4 class="font-size-18 mt-4">Üye Ol</h4>
                                            @*<p class="text-muted">Sign in to continue to Nazox.</p>*@
                                        </div>

                                        <div class="p-2 mt-5">
                                            <form asp-area="Admin" asp-controller="Account" asp-action="UyeOl" class="form-horizontal" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-group auth-form-group-custom mb-4">
                                                    <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                    <label for="username">Ad</label>
                                                    <input type="text" class="form-control" asp-for="Ad" placeholder="Ad">
                                                    <span asp-validation-for="Ad" class="text-danger"></span>
                                                </div>
                                                <div class="form-group auth-form-group-custom mb-4">
                                                    <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                    <label for="username">Soyad</label>
                                                    <input type="text" class="form-control" asp-for="Soyad" placeholder="Soyad">
                                                    <span asp-validation-for="Soyad" class="text-danger"></span>
                                                </div>
                                                <div class="form-group auth-form-group-custom mb-4">
                                                    <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                    <label for="username">Kullanıcı Adı</label>
                                                    <input type="text" class="form-control" asp-for="UserName" placeholder="Kullanıcı Adı">
                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                </div>
                                                <div class="form-group auth-form-group-custom mb-4">
                                                    <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                    <label for="username">Email</label>
                                                    <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                                <div class="form-group auth-form-group-custom mb-4">
                                                    <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                    <label for="userpassword">Şifre</label>
                                                    <input type="password" class="form-control" asp-for="Password" placeholder="Şifre">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>

                                                <div class="mt-4 text-center">
                                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Üye Ol</button>
                                                </div>

                                                <div class="mt-4 text-center">
                                                    <p><i class="mdi mdi-login mr-1"></i> Zaten Hesabım Var? <a class="font-weight-medium text-primary" asp-area="Admin" asp-controller="Account" asp-action="GirisYap">Giriş Yap</a></p>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="mt-5 text-center">
                                            <p>© Arel Tasarım <i class="mdi mdi-heart text-danger"></i> Copyright © @DateTime.Now.Year</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="authentication-bg" style="background-image: url(/Admin/Content/Theme/assets/images/authentication-bg.jpg);">
                        <div class="bg-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- JAVASCRIPT -->
    <script src="~/Admin/Content/Theme/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Admin/Content/Theme/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/Content/Theme/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Admin/Content/Theme/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Admin/Content/Theme/assets/libs/node-waves/waves.min.js"></script>

    <script src="~/Admin/Content/Theme/assets/js/app.js"></script>



</body>
</html>
