<th style="width: 20px;">
    <div class="form-checkbox custom-checkbox">
        <input type="checkbox" class="form-check-input" id="pagecheck">
        <label class="form-check-label mb-0" for="pagecheck">&nbsp;</label>
    </div>
</th>
<th style="width: 50px;">ID</th>