@model IEnumerable<DosyaGaleri>

@{
    Layout = null;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <form method="post" class="dropzone" asp-area="Admin" asp-controller="Dosyalar" asp-action="PageFiles" enctype="multipart/form-data">
                        <div class="fallback">
                            <input name="file" type="file" multiple="multiple">
                        </div>
                        <div class="dz-message needsclick">
                            <div class="mb-3">
                                <i class="display-4 text-muted ri-upload-cloud-2-line"></i>
                            </div>
                            <h6>Yüklemek istediginiz dosyalari surukleyip burakabilirsiniz. veya buraya tiklayarak bilgisayarinizdan secim yapabilirsiniz.</h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <ul class="fileinput-new Liste DosyaListe" style="clear: both; display: block;">
                    @foreach (var item in Model.OrderBy(x => x.Sira))
                    {
                        <li class="Liste_@item.Id" id="sira_@item.Id">
                            <div class="fa-border" style="height:120px;">
                                <img src="~/Admin/Content/Theme/assets/images/pdf.png" class="img-thumbnail" style="background:none !important" alt="" />

                            </div>
                            <a href="javascript: void()" class="btn btn-danger btn-sm waves-effect waves-light" onclick="Sil(@item.Id,'Dosyalar','PageFilesDelete')" style="margin-top:50px">Listeden Kaldır</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<partial name="_DropzoneCssScriptsPartial" />