@model SayfaOzellikleriTranslate
@{


}

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.DilId)

@foreach (var dil in ViewBag.Diller as IEnumerable<Diller>)
{
    if (dil.DilKoduId == Model.DilId)
    {
        <div class="tab-pane @((dil.DilKodlari.DilKodu == "tr-TR")? "active":"")" id="dil-@(dil.DilKoduId)" role="tabpanel">
            <div class="row mb-3">
                <label for="example-text-input" class="col-md-1 col-form-label">Özellik Adı</label>
                <div class="col-md-9">
                    <input class="form-control" asp-for="OzellikAdi" type="text">
                </div>
            </div>
        </div>
    }
}



