@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();

    AppDbContext _context = new AppDbContext();
    var diller = _context.Diller;

    List<SelectListItem> cultureList = _context.DilKodlari.Select(x => new SelectListItem()
    {
        Text = x.DilKodu,
        Value = x.DilKodu
    }).ToList();

    var returUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";

    var aktifDil = diller.Where(p => p.DilKodlari.DilKodu == culture.RequestCulture.Culture.ToString()).FirstOrDefault();
}

@if (diller.Where(p => p.Durum == SayfaDurumlari.Aktif).ToList().Count > 1)
{
    @foreach (var item in diller.Where(p => p.Durum == SayfaDurumlari.Aktif && p.DilKodlari.DilKodu != culture.RequestCulture.Culture.ToString()).ToList().OrderBy(p => p.Sira))
    {
        <li class="language-item"> <a class="active btn" href="/@item.DilKodlari.DilKodu/Home/CultureManamagent/?culture=@item.DilKodlari.DilKodu" data-value="@item.DilAdi">@item.DilAdi</a></li>
    }
}
