<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Uyarı</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="itemSubcategory" style="display:none">
                    NOT BU KATEGORİYE AİT ALT KATEGORİLER BULUNMAKTADIR. BU KATEGORİYİ SİLMENİZ DURUMUNDA BUNA AİT TÜM ALT SAYFALAR SİLİNECEKTİR.
                </div>
                <p><span id="itemName" class="badge badge-soft-danger pl-1 pr-1"></span>  Silme işlemine devam etmek istiyormusunuz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Kapat</button>
                <button type="button" id="remove" class="btn btn-danger waves-effect waves-light">Sil</button>
            </div>
        </div>
    </div>
</div>