@{
    var _context = new AppDbContext();

    var siteAyari = _context.SiteAyarlariTranslate.ToList().Where(p => p.SiteAyarId == 1).FirstOrDefault();

}
  <div id="btnwhatsapp" style="position: fixed; z-index: 999;left: 10px; bottom: 20px;">
      <a href="https://wa.me/@(siteAyari?.SiteAyarlari.Whatsapp ?? "")" title="Whatsapp" target="_blank" style="width: 60px; height: 60px;background-color: #01e675;color: #fff;border-radius: 35px;-webkit-border-radius: 35px;-moz-border-radius: 35px;display: table-cell;vertical-align: middle;text-align: center;box-shadow: 0 0 25px rgba(0,0,0,0.4);-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.4);"><i style="font-size: 2.5em !important;" class="fa fa-whatsapp"></i></a>
  </div>