


.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

    ol.sortable, ol.sortable ol {
        margin: 0 0 0 25px;
        padding: 0;
        list-style-type: none;
    }

    ol.sortable {
        margin-top: 0px;
        margin-right: 0;
        margin-bottom: 0px;
        margin-left: 0;
    }

.sortable li {
    margin: 5px 0 0 0;
    padding: 0;
}

    .sortable li div {
        border: 1px solid #d4d4d4;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-color: #D4D4D4 #D4D4D4 #BCBCBC;
        padding: 6px;
        margin: 0;
        cursor: move;
        /*background: #f6f6f6;
                                    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
                                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
                                    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
                                    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
                                    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
                                    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);*/
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    }

    .sortable li.mjs-nestedSortable-branch div {
        /*background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
                                    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);*/
    }

    .sortable li.mjs-nestedSortable-leaf div {
        /*background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
                                    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);*/
    }

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa;
}

.disclose {
    cursor: pointer;
    width: 10px;
    display: none;
}

/*.sortable li.mjs-nestedSortable-collapsed > ol {
                                display: none;
                            }*/

/*.sortable li.mjs-nestedSortable-branch > div > .disclose {
                                display: inline-block;
                            }*/

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '+ ';
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: '- ';
}

.sortable .ui-sortable div p {
    float: right;
    padding-right: 10px;
}

.panel-group {
    border: 1px solid #ddd;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .panel-default > .panel-heading a {
        display: block;
        padding: 10px 15px;
        color: #1b1b1b;
    }

        .panel-default > .panel-heading a:after {
            content: "";
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            float: right;
            transition: transform .25s linear;
            -webkit-transition: -webkit-transform .25s linear;
        }

        .panel-default > .panel-heading a[aria-expanded="true"] {
            background-color: #eee;
        }

            .panel-default > .panel-heading a[aria-expanded="true"]:after {
                content: "\2212";
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }

        .panel-default > .panel-heading a[aria-expanded="false"]:after {
            content: "\002b";
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

.accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
}

    .accordion-option .title {
        font-size: 20px;
        font-weight: bold;
        float: left;
        padding: 0;
        margin: 0;
    }

    .accordion-option .toggle-accordion {
        float: right;
        font-size: 16px;
        color: #6a6c6f;
    }

        .accordion-option .toggle-accordion:before {
            content: "Tümünü Aç";
        }

        .accordion-option .toggle-accordion.active:before {
            content: "Tümünü Kapat";
        }


.panel-body {
    padding: 10px;
    background-color: #f9f9f9;
}
#menu .nav-item a.active {
    background-color: #f4f4f4 !important;
    color: #db1c1c !important;
    font-weight: bold !important;
}

.imgshow > div {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px #ccc;
    border-radius: 6px;
    padding: 8px;
    display: none;
    position: absolute;
    border: 2px solid #0072b4;
    margin-left: 35px;
    background-color: white;
    z-index: 999;

 

}

    .imgshow > div > img {
        max-width: 400px;
        max-height: 250px;
        z-index: 999;
    }

