.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 15px;
}

/*.col-form-label
{
    text-align:right;
}*/

.fancybox-outer .fancybox-inner {
    height: 500px !important
}

.navbar-brand-box {
    background: #fff !important;
    border-right: solid 1px #e0e0e0 !important;
}

.Liste {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

    .Liste li {
        margin: 3px 3px 3px 0;
        padding: 1px;
        float: left;
        width: 150px;
        height: 210px;
        font-size: 12px;
        text-align: center;
        cursor: move;
        border: 1px solid #ddd;
        margin: 3px;
    }


.resimdosyasi {
    display: block;
}

    .resimdosyasi .card {
        width: 15rem;
        border: 1px solid rgba(0,0,0,.125);
    }

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}



.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor: progress;
}

    .has-spinner.active .spinner {
        opacity: 1;
        width: auto;
    }

.has-spinner.btn.active .spinner {
    min-width: 20px;
}



.form-check-container {
    display: flex; /* Flexbox düzenini etkinleþtirir */
    gap: 10px; /* Elemanlar arasýnda boþluk býrakýr */
    flex-wrap: wrap; /* Yatay sýralamaya sýðmazsa alt satýra geçer */
}

.form-check {
    display: flex; /* Elemanlarý yatayda hizalar */
    align-items: center; /* Dikey hizalamayý düzenler */
    gap: 5px; /* Checkbox ve metin arasýna boþluk ekler */
}

.form-check-input {
    vertical-align: middle; /* Checkbox'ý metinle dikey hizalar */
    margin-right: 5px; /* Checkbox ile metin arasýna boþluk ekler */
    margin-top: 0rem !important;
}

.form-check-label {
    vertical-align: middle; /* Metni checkbox ile hizalar */
}

.readonly-checkbox {
    pointer-events: none; /* Týklamayý engelle */
    opacity: 0.5; /* Görsel olarak pasif hale getir */
    cursor: not-allowed; /* Fare imlecini deðiþtir */
}