@model UyeOlViewModel
@inject HelperServis _helperServis
@{
    var uye = await _helperServis.GetUye();


    var siteAyariHelper = await _helperServis.GetSiteAyari();
    var siteAyari = siteAyariHelper?.SiteAyarlari;

    ViewBag.MetaTitle = "Hesabım";
    ViewBag.MetaAnahtar = siteAyariHelper?.MetaAnahtar ?? "";
    ViewBag.MetaAciklama = siteAyariHelper?.MetaAciklama ?? "";
}
@section Style
{
}


<div class="ps-wishlist">
    <div class="container">
        <ul class="ps-breadcrumb">
            <li class="ps-breadcrumb__item"><a href="/">Ana Sayfa</a></li>
            <li class="ps-breadcrumb__item active" aria-current="page">Hesabım</li>
        </ul>
        <h3 class="ps-wishlist__title">Hesabım</h3>
        <div class="ps-wishlist__content">
            <div class="row row-reverse">
                <div class="col-12 col-md-9">

                </div>
                <div class="col-12 col-md-3">
                    <div class="ps-widget ps-widget--product">
                        <div class="ps-widget__block">
                            <div class="ps-widget__category">
                                <partial name="_SagMenu" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @await Html.PartialAsync("_DataTableScriptsPartial")

    @await Html.PartialAsync("_ValidationScriptsPartial")
}