
<div id="ruby-site" class="site-outer">
    <div class="site-wrap">
        <div class="site-mask"></div>
        <div class="site-inner">
            <div class="single-page-wrap single-page-woo">
                <div class="ruby-page-wrap ruby-section row single-wrap is-sidebar-none ruby-container">
                    <div class="ruby-content-wrap single-inner content-without-sidebar col-xs-12">
                        <div id="product-760" class="post-760 product type-product status-publish has-post-thumbnail product_cat-gadgets first instock sale shipping-taxable purchasable product-type-simple">
                            <div class="col-sm-4 col-xs-12">
                                <h3>Ödeme Sonucu</h3>
                                <div>
                                    @TempData["OdemeSonuc"]
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
